.header {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 0;
    padding-top: 30%;

    @include r(tablet) {
        padding-top: 50%;
    }
    
    &__container {
        @include container(desktop);
        background-color: $green;
        text-align: center;
        margin: 0 auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__title {
        @include typography(h1);

        position: relative;
        display: inline-block;
        text-align: center;
        width: 30%;
        white-space: nowrap;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: -20PX;
            width: 110%;
            border-bottom: 2px solid $white;
        }

    }

    &__svg {
        width: 30%;
        margin: 0 auto;

        svg {
            width: 10vw;
            height: 7vw;
        }
    }
}