// Base Colours
$white: #fff;
$black: #000;
$green: #d0ebe6;
$pink: #f6eaec;
$salmon: #fcd5cf;

// Font Colours
$f-black: #1f1f1f;
$f-dark: #111111;
$f-medium: #505050;

// Font Weights
$f-light: 300;
$f-regular: 400;
$f-medium: 500;
$f-semibold: 600;
$f-bold: 700;
$f-heavy: 800;

//Fonts

$spartan: 'spartan', sans-serif;
$roboto: 'roboto', sans-serif;

// Spacings and margins
$fiHeaderBottomDistance: 112px;

// Widths and heights
$fiHeaderWidth: 1117px;
$impactBlocksWidth: 1381px;
$impactBlocksDesktopHeight: 345px;

// Content Widths
$cw-ultrawide: 1920px;
$cw-desktop: 1370px;
$cw-mobile: 335px;

// Gutters
$g-desktop: 0;
$g-tablet: 0;
$g-mobile: 0;

// Animation Transition
$a-short: .3s;
$a-medium: .5s;
$a-long: 1s
