// Globals
@import "functions";
@import "vars";
@import "mixins";
@import "config";
// @import "global";
@import "fonts";

// Blocks
@import "blocks";

.block-editor-block-list__layout {
  padding-left: unset;
  padding-right: unset;
  @include container;
}

.wp-block {
  max-width: 100%;
}
